*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-align: center;
}
body{
    width: 100%;
}
li{
    list-style: none;
}
.container{
    padding: 5%;
}
.container button{
    border: none;
    cursor: pointer;
}